<!-- This is the base template -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Lato&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='buttons.css') }}"
    />
     <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='tooltips.css') }}"
    />
    <title>
      CodeSnap {% block title %}{% endblock title %}
    </title>
  </head>
  <body>
    <h1>
      <span id="title"><a href="{{ url_for('code') }}">CodeSnap</a>:</span> {{ message | safe }}
    </h1>
    <main>
      {% block content %}
      {% endblock content %}
    </main>
  </body>
</html>