<!-- This is the children template -->
{% extends "base.html" %}

{% block title %}
  - Code Input
{% endblock title %}

{% block content %}
<form>
   <select name="language" class="language">
        <option value="{{ selected_language[0] }}|{{ selected_language[1] }}">{{ selected_language[0] }}</option>
        {% for lang in all_languages %}
          <option value="{{ lang[0] }}|{{ lang[1] }}">{{ lang[0] }}</option>
        {% endfor %}
  </select>
  <textarea
    required
    class="code"
    name="code"
    placeholder="Paste your code snippet here..."
    cols="60"
    rows="17"
    autofocus
  >{{ code }}</textarea>
  <div class="controls">
    <div class="tooltip">
      <span class="tooltiptext">Clear the saved code</span>
    <button formmethod="post" formaction="{{ url_for('reset_session') }}">
      <!-- Reset Session ♻️ -->
      Clear ♻️ 
    </button>
    </div>
    
    <div class="tooltip">
      <span class="tooltiptext">Continue to style selection</span>
    <button formmethod="post" formaction="{{ url_for('save_style') }}">
      Next ➡️
    </button>
    </div>
  </div>
</form>
{% endblock content %}